/*GENERALES*/
*{
	box-sizing: border-box;
}
a,span,img{
	display: inline-block;
	vertical-align: top;
	text-decoration:none;
}
a,span,h1,h2,h3,h4,h5,h6,p,li,input,label,textarea,option,select,td{
	font-family: 'Niramit', sans-serif;
}
textarea{
	font-size: 14px;
}
.box-cargados{
	width:100%;
	height: 100%;
	padding: 20px;
}
.box-cargados-left{
	width:35%;
	height: 100%;
	float:left;
	overflow: auto;
}
.box-cargados-left h1{
	font-size: 22px;
	margin-bottom: 15px;
	border-left: 5px solid #F5B003;
	padding-left: 10px;
}
.box-cargados-right{
	width:65%;
	height: 100%;
	float:right;
	background: gray;
	padding: 20px;
}
.box-cargados-right table{
	border:1px solid black;
	width: 100%;
	height: auto;
	text-align: center;
	background: white;
}
.box-cargados-top{
	width:100%;
	height: auto;
	padding: 10px;
	background: skyblue;
	text-align: center;
}
td{
	padding: 5px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.barrita-roja{
	background: #ED303B;
	color:white;
}
.barrita-amarilla{
	background: #F5B003;
	color:white;
}
.cajas-texto{
	width:90%;
	padding: 3px;
	border:none;
	border:1px solid gray;
	border-radius: 3px;
	margin-top: 5px;
}
.cajas-form{
	width:32%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
}
.texto-ajustado{
	max-width: 354px;
	min-width: 90%;
	max-height: 170px;
	min-height: 150px;
}
.box-cargado-right{
	background:gray;
}
.box-aceptado{
	width: 400px;
	height: auto;
	padding: 15px;
	border-radius: 5px;
	border:none;
	background:#54AE54;
	position:fixed;
	top:5px;
	left:30%;
	display: none;
}
.box-aceptado p{
	color:white;
	font-size: 17px;
	text-align: center;
}
.box-rechazado{
	width: 400px;
	height: auto;
	padding: 15px;
	border-radius: 5px;
	border:none;
	background:#CD403C;
	position:fixed;
	top:5px;
	left:30%;
	display: none;
}
.box-rechazado p{
	color:white;
	font-size: 17px;
	text-align: center;
}
.box-cargando{
	width:200px;
	height: auto;
	padding-top: 10px;
	text-align: center;
	display: none;
}
.box-cargando span{
	font-size: 40px;
	color:white;
}
.centrar{
	text-align: center;
	font-weight: bold;
}
/*ESTILOS PRINCIPAL*/
a{
	cursor:pointer;
}
.btn{
	border:none;
	padding: 8px 18px;
	font-size: 15px;
	border-radius: 25px;
}
.btn-primary{
	background: #3D83C0;
	color:white;
}
.btn-success{
	background:#54AE54;
	color:white;
}
.btn-fail{
	background:#CD403C;
	color:white;
}
.clear{
	clear: both;
}
.bar-lat img{
	width:100%;
	height:80px;
}
.bar-lat{
	width:15%;
	height:100vh;
	float:left;
	overflow: auto;
	background: #ED303B;
}
.bar-lat h2{
	padding: 10px;
	font-size: 20px;
	margin-bottom: 5px;
}
.menu-lat{
	background: #F5B003;
	display: none;
}
.bar-lat h3{
	font-size: 15px;
	padding: 15px;
	margin-bottom: 5px;
	border-right: 3px solid #F5B003;
	border-left: 3px solid #F5B003;
	cursor: pointer;
}
.bar-lat h2,h3{
	color:white;
}
.menu-lat a{
	width:100%;
	font-size: 16px;
	color:black;
	padding:15px 0;
	padding-left: 15px;
}
.menu-lat a:hover{
	background: white;
	color:black;
}
.active{
	background: white;
	color:#F5B003;
}
.bar-content{
	width: 85%;
	height: 100vh;
	float:right;
}
.box-data-user{
	width:100%;
	height: 10vh;
	background: white;
	border-bottom: 2px solid #F5B003;
}
.box-user{
	float:right;
	margin-right: 10px;
	margin-top: 5px;
	padding: 10px 15px;
	border-radius: 5px;
	border:1px solid black;
	background:#4C4C4A;
	color:white;	
}
.box-hide-user{
	width:100%;
	height: auto;
	padding: 10px;
	text-align: center;
	display: none;
}
.box-contenido{
	width:100%;
	height: 90vh;
	background: white;
}
#linkusuario,#linkcerrar{
	cursor:pointer;
}
.box-elementos{
	padding: 5px;
	border:1px solid white;
	background: #F5B003;
	width:100%;
	height: 120px;
	margin-bottom: 5px;
}
.box-elementos-left{
	float:left;
	width:80%;
	height: 100%;
}
.box-elementos-left span{
	padding: 2px;
	width:48%;
	color:white;
}
.box-elementos-left strong{
	color:black;
}
.box-elementos-right{
	float:right;
	width:20%;
	height: 100%;
}
.box-elementos-right img{
	width:100%;
	height: 100%;
}
.box-modal{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top:0;
	left: 0;
	display: none;
}
.box-in-modal{
	width:100%;
	height:100%;
	position:relative;	
}
#cerrar-modal{
	position: absolute;
	right: 50px;
	top:50px;
	cursor:pointer;
}
#img-modal{
	width:550px;
	height: 350px;
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
	border:2px solid white;
}
.box-welcome{
	width:100%;
	height: 100%;
	padding: 10px;
	background-image: url("../img/pollin2.jpg");
	background-size: cover;
	border-radius: 5px;
}
.box-in-wel{
	padding: 10px;
	border-left: 5px solid #F5B003;
	color:#ED303B;
}
/************************* ESTILOS LOGIN *********************/
.body-login{
	width:100%;
	height:100vh;
	background-image: url("../img/fondo_login.jpg");
	position:relative;
}
.box-login{
	position:absolute;
	width:400px;
	height: auto;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border:2px solid black;
	border-top-left-radius: 35px;
	border-bottom-right-radius: 35px;
	background: rgba(255,255,255,0.4);
	text-align: center;
	padding: 20px 0;
}
.box-login h1{
	font-size: 25px;
	margin-bottom: 10px;
}
.icon-login{
	text-align: center;
	font-size: 90px;
}
.box-form fieldset{
	width: 100%;
	padding: 5px;
}
.box-form input[type='text'],.box-form input[type='password'],.box-form input[type='email']{
	width: 80%;
	padding: 9px;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	border:2px solid gray;
}
.box-form input[type='text']:hover,.box-form input[type='password']:hover,.box-form input[type='email']:hover{
	border:2px solid #3D83C0;
	background:  #15A9EE;
	color:white;
}